# Python
__pycache__/
*.py[cod]
*.pyo

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Virtual Environment
venv/
.env/

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Docker
docker-compose.override.yml
.DS_Store

# Miscellaneous
*.bak
*.swp
